.app {
  padding: 10%;
}

.app__container{
  margin:auto;
  max-width: 45rem;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

tr {
  padding: 1rem;
  border: 0.1rem solid rgb(126, 126, 126);
  display: flex;
  justify-content: space-between;
}

.app__add-btn{
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.1rem solid rgb(126, 126, 126);
}

.app__delete-btn{
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 0.1rem solid rgb(126, 126, 126);
}
